.detailed-form-content {
    height: 90%;
    width: 100%;
}
.formcontent-baksa.flex {
    height: 90%;
    width: 80%;
    border-radius: 1em;
    background-color: #001329;
}
section.left-form-sec, .right-form-sec {
    height: 100%;
    width: 50%;
    justify-content: space-evenly;
    flex-direction: column;
}
.left-form-sec{
    border-right: 1px solid white;
    
}

.event-input-dabba {
    height: 10%;
    width: 80%;
}
.event-input-boxx{
    height: 100%;
    width: 90%;
    border-bottom: 1px solid white;
    color: white;
    padding-left: 1em;
}
.event-input-boxx::placeholder{
    color: white;
}
.event-date-time-input-box {
    height: 10%;
    width: 75%;
    justify-content: space-between;
}
.event-date-input-box, .event-time-input-box {
    height: 100%;
    width: 45%;
}
.event-outline {
    border-bottom: 1px solid white;
    height: 80%;
    width: 75%;
}
.event-outline-input-box.flex {
    height: 10%;
    width: 70%;
    justify-content: start;
    /* border-bottom: 1px solid white; */
}
.event-seat {
    color: white;
    height: 10%;
    width: 70%;
    justify-content: space-between;
}
.yexx-boxx, .no-boxx {
    height: 100%;
    width: 15%;
    justify-content: space-evenly;
}
.option-wala-drop.flex {
    height: 100%;
    width: 60%;
    justify-content: space-around;
}
.select-num {
    background-color: #98A1BC;
    height: 60%;
    width: 30%;
    border-radius: 0.5em;
    color: white;
    padding-left: 1em;
}
.select-num::-webkit-scrollbar {
    width: 6px;
    margin: 1em;
    border-radius: 1em;
    position: absolute;
    right: 1em;
}

.select-num::-webkit-scrollbar-thumb {
    background-color: #7583a9;
    border-radius: 10px;
}
.select-num::-webkit-scrollbar-track{
    background-color: #c1cae0;
    border-radius: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}
.submit-button{
    height: 10%;
    width: 50%;
}
button.submitti-btn {
    height: 85%;
    width: 75%;
    border-radius: 1em;
    background-color: #98A1BC;
    color: white;
}
input[type="date"] {
    color: white;
    /* padding-left: 1em; */
}
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
}
/* .event-date-input-box{
    position: relative;
    display: inline-block;
    } */
.calendar-icon {
    color: white;
    position: absolute;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: small;
    left: 27%;
    top: 57%;
}
input[type="time"]{
    color: white !important; 
    padding-left: 1em;
}
input[type="time"]::placeholder {
    color: white;
    padding-left: 1em;
}
input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
    
}
.clock-icon {
    position: absolute;
    transform: translateY(-50%);
    color: white;
    pointer-events: none;
    left: 43%;
    top: 57%;
}
/* .event-outline-input-box label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    cursor: pointer;
    width: 100%;
    padding-left: 1em;
    font-size: small;
    }
    input[type="file"] {
        display: none;
        } */
        /* .event-outline{
    border: none;
    outline: none;
    background-color: transparent;
    } */
    