.third-page-options {
    height: 100vh;
    width: 100%;
    justify-content: end;
}
section.section1 {
    width: 35%;
    height: 100%;
    color: white;
    font-size: xxx-large;
    flex-direction: column;
    align-items: start;
}
section.section2 {
    width: 50%;
    height: 55%;
    flex-direction: column;
    justify-content: space-evenly;
}
.btn{
    height: 15%;
    width: 100%;
}
.button{
    height: 70%;
    width: 30%;
    border: none;
    outline: none;
    border-radius: 1em;
    font-size: medium;
}