.savedDiv{
    position: absolute;
    opacity: 0;
    top: 0;
    height: 0;
}

.savedActive {
    height: 65%;
    background-color: #001329;
    color: white;
    opacity: 1;
    width: 84%;
    top: 1%;
    border-radius: 1em;
    z-index: 5;
}
.savedUnActive{
    height: 0;
    opacity: 0;
}
.saved-contents.flex {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: start;
}
section.saved-con-heading {
    height: 15%;
    width: 90%;
    font-size: x-large;
    justify-content: start;
    gap: 0.3em;
}
span.savi {
    font-weight: bold;
}
span.evei {
    font-style: italic;
}
section.saved-events-details {
    height: 80%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5em;
}
.detailed-content.flex {
    height: 100%;
    width: 100%;
    align-items: end;
}
.content-ka-baksa {
    height: 70%;
    width: 100%;
    background-color: #DCDCDC;
    border-radius: 0.8em;
}
.detailed-ka-img {
    /* height: 35%; */
    width: 6%;
    border-radius: 0.5em;
    position: absolute;
    top: 6em;
    left: 5.5em;
}
section.heading-side.flex {
    flex-direction: column;
    height: 100%;
    width: 35%;
    justify-content: end;
}
section.details-side.flex {
    height: 100%;
    width: 65%;
    flex-direction: column;
    color: #001329;
    justify-content: space-around;
}
h1.Event-Headings {
    font-size: medium;
}
.registering-div.flex {
    width: 100%;
    height: 30%;
    justify-content: space-between;
}
button.registered-there {
    height: 100%;
    width: 50%;
    border-radius: 2em;
    background-color: black;
    color: white;
}
.time-left.flex {
    width: 30%;
}
.cross-icon.flex {
    width: 15%;
}
.people-registered.flex {
    height: 30%;
    justify-content: space-between;
    width: 90%;
}
.event-host-name.flex {
    height: 30%;
    width: 90%;
    justify-content: space-between;
}